@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
{ font-family: 'play', 'sans-serif'; }

@media (min-width: 480px) { 

body { 
font-family: 'play', sans-serif;
font-size: 14px; 
background-color #3D3B8E;
font-color: #FFF 
}

h1,h2,h3 {font-size: 20px;
}

@media (min-width:960px) and (max-width: 1024px) {
body { font-size: font size: 26px
background: #B0E298;
font-color: #000 
}

h1,h2,h3 { font-size: 50px
}
